name: docker login

on:
    push:
        branches: main

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.2

            - name: login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.MY_DOCKER_USERNAME }}
                password: ${{ secrets.MY_DOCKER_PASSWORD }}

            - name: Build and push     
              uses: docker/build-push-action@v6
              with:
                context: .
                file: ./mysubdir/Dockerfile
                push: true
                tags: ${{ secrets.MY_DOCKER_USERNAME }}/app3:latest


    