name: CSV -> pytest -> dbt pipeline

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout
            uses: actions/checkout@v6.0.2

          - name: Setup Python
            uses: actions/setup-python@v6.2.0
            with: 
                python-version: '3.13'

          - name: install Dependancies
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt

          - name: Run Pytest
            run: pytest tests/
            env:
              PYTHONPATH: ${{ github.workspace }}


          - name: install dbt
            run: |
              pip install dbt-core dbt-sqlite dbt-duckdb
          - name: Create dbt profile
            run: |
              mkdir -p ~/.dbt
              cat <<EOF > ~/.dbt/profiles.yml
              my_profile:
                outputs:
                  dev:
                    type: duckdb
                    path: /home/runner/work/GitHubAct/GitHubAct/my.duckdb
                target: dev
              EOF

          - name: Load CSV into DuckDB
            run: |
              python - <<EOF
              import duckdb
              con = duckdb.connect("my.duckdb")
              con.execute("""
                  CREATE OR REPLACE TABLE table_name AS
                  SELECT * FROM read_csv_auto('data/input.csv');
              """)
              con.close()
              EOF
                
          - name: run dbt debug
            run: |
              cd dbt_project
              dbt run
        
          - name: run dbt test
            run: |
              cd dbt_project
              dbt test